{% extends "layout.html" %}

{% block content %}
<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <h2>Flask App</h2>
  <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>
  <button class="btn btn-outline-secondary" type="button">Get Started</button>
</div>
{% endblock content %}