{% extends "layout.html" %}

{% block content %}
<form class="row" method="POST">
  {{ form.hidden_tag() }}

  <div class="col-md-6">
    <div class="mb-3">
      {{form.username.label(class="form-label")}}
      {{form.username(class="form-control")}}
    </div>

    <div class="mb-3">
      {{form.email.label(class="form-label")}}
      {{form.email(class="form-control")}}
    </div>

    <div class="mb-3">
      {{form.password.label(class="form-label")}}
      {{form.password(class="form-control")}}
    </div>

    <div class="mb-3">
      {{form.password_confirm.label(class="form-label")}}
      {{form.password_confirm(class="form-control")}}
    </div>

    {{form.submit(class="btn btn-outline-primary")}}
  </div>
</form>
{% endblock content %}